{% extends "application/analysis_base.html" %}



{% block analysis %}

    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">

        {#        <div class="text-center">#}
        {#            <h1>Select two retrieval functions</h1>#}
        {#        </div>#}


        <div class="container-fluid">

            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <h3 class="text-primary">Select two retrieval functions</h3>
                </div>
            </div>


            <form method="post" action="{% url 'compare_query' %}">
                <div class="row">
                    <div class="mx-auto" style="width: 850px;">

                        {% csrf_token %}

                        <select name="ranker-1">
                            <option class="dropdown-item" selected="selected" disabled>Select from your Retrival
                                Function
                            </option>

                            {% for ranker in ranker_list %}
                                <option value="{{ ranker.id }}" {% if ranker1 and ranker1.id == ranker.id %}
                                        selected="selected" {% endif %}>{{ ranker }}
                                </option>
                            {% endfor %}
                        </select>

                        <select name="ranker-2">
                            <option class="dropdown-item" selected="selected" disabled>Select from your Retrival
                                Function
                            </option>

                            {% for ranker in ranker_list %}
                                <option value="{{ ranker.id }}"{% if ranker2 and ranker2.id == ranker.id %}
                                        selected="selected" {% endif %}>{{ ranker }}
                                </option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-outline-primary" type="submit">Compare</button>
                    </div>
                </div>
            </form>

            {% if ranker1 and ranker2 %}
                <div class="row">
                    <div class="mx-auto" style="width: 850px;">
                        <div class="input-group">
                            <form class="form-inline" action="{% url 'compare_query' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="ranker1_id" value="{{ ranker1.id }}">
                                <input type="hidden" name="ranker2_id" value="{{ ranker2.id }}">
                                <input type="text" class="form-control" placeholder="Enter a query..." name="query_text"
                                       style="width: 600px;">
                                <button class="btn btn-outline-primary" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}


            <div class="row">
                <div class="col-md-12">

                    {% if zipped_response%}
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>{{ ranker1 }}</th>
{#                                <th>Score</th>#}
                                <th>{{ ranker2 }}</th>
{#                                <th>Score</th>#}

                            </tr>
                            </thead>
                            <tbody>
                            {% for obj1,obj2 in zipped_response%}
                                <tr>
                                    {% if obj1.path_title %}
                                        <td>
                                            <a href="{{ obj1.path_link }}"
                                               target="_blank">{{ obj1.path_title }}</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            {{ obj1.content }}
                                        </td>
                                    {% endif %}
{#                                    <td>#}
{#                                        {{ obj1.score }}#}
{#                                    </td>#}

                                {% if obj2.path_title %}
                                        <td>
                                            <a href="{{ obj2.path_link }}"
                                               target="_blank">{{ obj2.path_title }}</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            {{ obj2.content }}
                                        </td>
                                    {% endif %}
{#                                    <td>#}
{#                                        {{ obj2.score }}#}
{#                                    </td>#}

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>

    </main>


{% endblock %}