{% extends "home/base.html" %}
{% load staticfiles %}


{% block content %}

    <div class="container-fluid">
        <div class="text-center">
            <h1>Search</h1>
        </div>

        <br>
        <br>

        <div class="row">
            {#            <div class="col-md-2"></div>#}
            <div class="mx-auto" style="width: 850px;">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default ">
                            {#                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
                            <span id="search_concept">{{ ranker_name }}</span>
                            <span class="caret"></span>
                        </button>
                        {#                        <div class="dropdown-menu">#}
                        {#                            <h6 class="dropdown-header">Ranking function</h6>#}
                        {#                            <a id="OkapiBM25" class="dropdown-item">Okapi BM25</a>#}
                        {#                            <a id="PivotedLength" class="dropdown-item">Pivoted Length Normalization</a>#}
                        {#                            <a id="DirichletPrior" class="dropdown-item">Dirichlet Prior Smoothing</a>#}
                        {#                            <a id="JelinekMercer" class="dropdown-item">Jelinek-Mercer Smoothing</a>#}
                        {#                            <a id="AbsoluteDiscount" class="dropdown-item">Absolute Discount Smoothing</a>#}
                        {#                        </div>#}
                    </div>
                    <form class="form-inline" action="{% url 'search' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="ranker_name" value="{{ ranker_name }}" id="search_name">
                        <input type="hidden" name="id" value="{{ id }}">
                        <input type="hidden" name="ranker_id" value="{{ ranker_id }}">
                        <input type="text" class="form-control" placeholder="Enter a query..." name="query_text"
                               style="width: 600px;">
                        <button type="submit" class="btn btn-default"><span data-feather="search"></span></button>
                        {#                        <span class="input-group-btn">#}
                        {#                          <button class="btn btn-default" type="button" id="search_button" type="submit">#}
                        {#                            <span data-feather="search"></span>#}
                        {#                          </button>#}
                        {#                        </span>#}
                    </form>
                </div>
            </div>
        </div>

        <div class="row">

            {#                    <ul>#}
            {#                        {% for obj in response.results %}#}
            {#                            <li><a href="#">{{ obj.name }} - {{ obj.score }}</a></li>#}
            {#                        {% endfor %}#}
            {#                    </ul>#}

            {% if response %}
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Document</th>
                            <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in response.results %}
                            <tr>
                                <td>
                                    {#                                    <button class="btn btn-default btn-sm">{{ obj.path}}</button>#}
                                    {{ obj.content }}
                                </td>
                                <td>
                                    {{ obj.score }}
                                </td>
                                <td>
                                    <a href="{{ obj.path_link }}">{{ obj.path_title }}</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div class="col-md-2"></div>
            {% endif %}
        </div>


    </div>

    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
    <script src="{% static 'js/index.js' %}"
    ></script>
{% endblock %}


