{% extends "home/base.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <nav class="col-lg-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'show_retrievals' %}">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'show_retrievals' %}">
                                <span data-feather="layers"></span>
                                My Retrieval Functions
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>Create Retrieval functions</span>
                        <a class="d-flex align-items-center text-muted" href="#">
                            {#                <span data-feather="plus-circle"></span>#}
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'show_configs' 'Okapi BM25' %}">
                                {#                                <span data-feather="file-text"></span>#}
                                <span data-feather="settings"></span>
                                <span>Okapi BM25</span>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'show_configs' 'Pivoted Length Normalization' %}">
                                {#                                <span data-feather="file-text"></span>#}
                                <span data-feather="settings"></span>
                                <span>Pivoted Length Normalization</span>

                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'show_configs' 'Dirichlet Prior Smoothing' %}">
                                {#                                <span data-feather="file-text"></span>#}
                                <span data-feather="settings"></span>
                                <span>
                        Dirichlet Prior Smoothing
                    </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'show_configs' 'Jelinek-Mercer Smoothing' %}">
                                {#                                <span data-feather="file-text"></span>#}
                                <span data-feather="settings"></span>

                                <span>Jelinek-Mercer Smoothing</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'show_configs' 'Absolute Discount Smoothing' %}">
                                {#                                <span data-feather="file-text"></span>#}
                                <span data-feather="settings"></span>

                                <span>Absolute Discount Smoothing</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'show_new_retrieval_configs'%}">
                                {#                                <span data-feather="file-text"></span>#}
                                <span data-feather="edit"></span>

                                <span>Customized Retrieval Function</span>
                            </a>
                        </li>
                    </ul>
            </nav>

            {% block config %}
            {% endblock %}
        </div>

    </div>


    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
{% endblock %}