{% extends "retrieval/main.html" %}
{% load config_extras %}


{% block config %}

    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">

            <table class="table  table-bordered table-hover">
                {#                <thead class="thead-dark">#}
                <thead>
                <tr>
                    <th rowspan="2">Ranker</th>
                    <th rowspan="2">Parameters</th>
                    <th colspan="2">Apnews</th>
                    <th colspan="2">Cranfield</th>
                    <th colspan="2">Trec</th>

                    {#      TODO                      if no ndcg#}

                    {#                    <th>Cranfield</th>#}
                    {#                    <th>Apnews</th>#}
                    {#                    <th>Trec</th>#}

                    <th rowspan="2">Application</th>
                </tr>
                <tr>
                    <th scope="col">map</th>
                    <th scope="col">NDCG</th>
                    <th scope="col">map</th>
                    <th scope="col">NDCG</th>
                    <th scope="col">map</th>
                    <th scope="col">NDCG</th>
                </tr>
                </thead>
                <tbody>
                {% for ranker,perfs_dict in ranker_perfs %}
                    <tr>

                        <td>
                            {{ ranker.name }}
                        </td>
                        <td>
                            {#                        list all parameters or source code#}
                            <form>
                                <div class="form-group">
                                    {% for field in ranker_forms|lookup:ranker.id %}
                                        {% if field.label_tag == 'source code' %}
                                            <div class="row">
                                                <div class="col">{{ field.label_tag }}</div>
                                                <div class="col">{{ field }}</div>
                                            </div>
                                        {% else %}
                                            <div class="row">
                                                <div class="col-sm-6">{{ field.label_tag }}</div>
                                                <div class="col">{{ field }}</div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </form>
                        </td>

                        {% with my_array='apnews cranfield trec' %}
                            {% for item in my_array.split %}
                                {#                        list all evaluations #}
                                {% if perfs_dict %}
                                    {% if perfs_dict|lookup:item %}
                                        {% with perfs_dict|lookup:item as curt_perf %}
                                            <td>{{ curt_perf.map }}</td>
                                            <td>{{ curt_perf.ndcg }}</td>
                                        {% endwith %}
                                    {% else %}
                                        <td colspan="2">
                                            <form method="post" action="{% url 'evaluate' ranker.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="id" value="{{ ranker.id }}">
                                                <input type="hidden" name="dataset" value="{{ item }}">
                                                <button class="btn btn-primary btn-sm" type="submit">Evaluate</button>
                                            </form>
                                            </button>
                                        </td>
                                    {% endif %}
                                {% else %}
                                    {#                            no evaluation data point#}
                                    <td colspan="2">
                                        <form method="post" action="{% url 'evaluate' ranker.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="id" value="{{ ranker.id }}">
                                            <input type="hidden" name="dataset" value="{{ item }}">
                                            <button class="btn btn-primary btn-sm" type="submit">Evaluate</button>
                                        </form>
                                        </button>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% endwith %}

                        <td>
                            <button class="btn btn-primary btn-sm" type="submit">
                                <a href="{% url  'create_search_engine' ranker.id%}"
                                   style="color: white; text-decoration: none;">Create Search
                                    Engine</a>
                            </button>

                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>


        </div>
    </main>

    {#    <div class="col-md-6"></div>#}
    {#    <div class="col-md-4">#}
    {#        {% if ranker_perfs %}#}
    {#            <h1>ahahhahaaaaaaaaaaaaaaaa</h1>#}
    {#            {{ ranker_perfs }}#}
    {#            {% for ranker,perf_list in  ranker_perfs %}#}
    {#                <h1>{{ ranker }}</h1>#}
    {#                {{ perf_list }}#}
    {#                {% for perf in perf_list %}#}
    {#                    <h1>{{ perf.map }}</h1>#}
    {#                {% endfor %}#}
    {#            {% endfor %}#}
    {#        {% endif %}#}
    {#    </div>#}
    {#    <div class="col-md-4"></div>#}



{% endblock %}